{% load static %}
{% block content %}
					<div class="row">
						<div class="col-xl-8 ">
							
								<div class=" ">
                                  <div class="row mb-3 no-gutters">
                                    <div class="col-sm-10 row mx-auto">
                                        <div class="col-sm-10 col-12 mb-2 m-sm-0 p-sm-0"><input class="form-control " type="search" placeholder="Enter kingschat username" id="search-input"></div>
                                        <div class="px-4 py-2 rounded-0 btn-primary text-center col-sm-2  m-sm-0 col-12" style="cursor: pointer;" id="search-btn">Send</div>
                                    </div>
                                        </div>
							     <div class="card">
								  <div class="card-body">
									
									<h4 class="card-title mb-4 mx-auto">User Profile</h4>
                                    {% if userprofile.firstname %}
									
                                    {% else%}
                                    <div class="h4 text-muted text-center p-4 user-display"> No user details to deplay</div>
                                    {% endif %}
								</div>
							</div>
						</div>
							<!-- end row -->
                             <div class="card d-block d-md-none">
                            <div class="card-body">
                            <div class="row">
                            <button onclick="tabs('#u_p')" class="btn bg-primary col-5 text-white mx-2 mb-1" type="button" >
                            Check Transactions
                        </button> 
                            <button class="btn bg-info col-5 text-white  mx-1 mb-1" type="button"   >
                            Credit account
                        </button> 
                            
                            <button onclick="tabs('#c_p')" class="btn bg-success mx-2 col-5 text-white mb-1" type="button" >
                            Change Account Pin
                        </button> 
                           <button class="btn bg-secondary col-5 text-white mx-1 mb-1" type="button"  >
                             <a href="/cardprocess"> <span class="text-white">Card Processing</span></a>
                        </button> 
                        <button onclick="tabs('#c_pass')" class="btn bg-primary col-11 text-white mx-2 mb-1" type="button"  >
                            Change Account Password
                        </button> 
                         <button class="btn bg-info col-11 text-white mx-2 mb-1" type="button" id="balchk" >
                            Check balance
                        </button> 
                          <button class="btn bg-danger col-11 text-white mx-2 mb-1 adv_pinresetbtn" type="button"  >
                            <b>Advance pin reset</b>
                         </button> 
                      </div>
						</div>
					</div>
                             <div class="tabs" id="u_p">
							      <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                              
                                                <!-- <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                                               
                                                <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                                                
                                                <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                                               
                                                <a href="javascript:void(0);" class="dropdown-item">Action</a> -->
                                            </div>
                                        </div>
    
                                        <h4 class="card-title mb-4">Latest Transactions</h4>
    
                                        <div class="table-responsive" >
                                            <table id="trasaction-table"  class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="5" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck">
                                                                <label class="form-check-label mb-0" for="ordercheck">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Type</th>
                                                        <th>Amount</th>
                                                        <th>Description</th>
                                                        <th>Remark</th>
                                                        <th>Trace</th>
                                                         <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
             
                            </div>
                           <div class="card tabs" id="c_p">
                            <div class="card-body "  >
                                               <!-- ==================== change password======================= -->
                                    <div >
                                    <form method="POST" class="form changepinform col-8 mx-auto">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Enter username" name="username" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Enter New Pin" name="newpin" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Repeat Pin" name="oldpin" class="form-control " >
                                    <br/>
                                    <button type="submit" class="btn btn-primary w-100"> Send</button>
                                    </form>
                                    </div>
                            </div>
                           </div>
                           <div class="card tabs" id="c_pass">
                            <div class="card-body "  >
                                               <!-- ==================== change password======================= -->
                                    <div >
                                    <form method="POST" class="form changepasswordform col-8 mx-auto">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Enter email" name="email" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Enter New Password" name="password" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Repeat Password" name="confirm_password" class="form-control " >
                                    <br/>
                                    <button type="submit" class="btn btn-primary w-100"> Send</button>
                                    </form>
                                    </div>
                            </div>
                           </div>
                           <div class="card tabs" id="adpin">
                            <div class="card-body "  >
                                               <!-- ==================== change password======================= -->
                                    <div >
                                    <form method="POST" class="form changepin_advance col-8 mx-auto">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Enter username" name="username" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Enter new pin" name="new_pin" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Repeat pin" name="confirm_pin" class="form-control " >
                                    <br/>
                                    <button type="submit" class="btn btn-danger w-100"> Send</button>
                                    </form>
                                    </div>
                            </div>
                           </div>
						</div>
						<div class="col-xl-4">
							<div class="card">
                            <div class="card-body">
                            <div class="row">
                            <button onclick="tabs('#u_p')" class="btn bg-primary col-5 text-white mx-2 mb-1" type="button" >
                            Check Transactions
                        </button> 
                            <button class="btn bg-info col-5 text-white  mx-1 mb-1" type="button"   >
                            Credit account
                        </button> 
                            
                            <button onclick="tabs('#c_p')" class="btn bg-success mx-2 col-5 text-white mb-1" type="button" >
                            Change Account Pin
                        </button> 
                            <button class="btn bg-secondary col-5 text-white mx-1 mb-1" type="button"  >
                            <a href="/cardprocess"> <span class="text-white">Card Processing</span></a>
                          </button>
                        <button onclick="tabs('#c_pass')" class="btn bg-primary col-11 text-white mx-2 mb-1" type="button"  >
                           Change Account Password
                        </button>
                         <button class="btn bg-info col-11 text-white mx-2 mb-1" type="button" id="balchk" >
                            Check balance
                        </button> 
                         <button class="btn bg-danger col-11 text-white mx-2 mb-1 adv_pinresetbtn" type="button"  >
                           <b>Advance pin reset</b>
                         </button> 
                      </div>
						</div>
					</div>
							<div class="card">
								<div class="card-body">
									<div class="dropdown float-end">
										<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"> <i class="mdi mdi-dots-vertical"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-end">
											 <!-- <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
											 <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
											 <a href="javascript:void(0);" class="dropdown-item">Profit</a>
											<a href="javascript:void(0);" class="dropdown-item">Action</a> -->
										</div>
									</div>
									<h4 class="card-title mb-4">Earning Reports</h4>
									<div class="text-center">
										<div class="row">
											<div class="col-sm-6">
												<div>
													<div class="mb-3">
														<div id="radialchart-1" class="apex-charts"></div>
													</div>
													<p class="text-muted text-truncate mb-2">Weekly Earnings</p>
													<h5 class="mb-0">2,523 esp</h5>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mt-5 mt-sm-0">
													<div class="mb-3">
														<div id="radialchart-2" class="apex-charts"></div>
													</div>
													<p class="text-muted text-truncate mb-2">Monthly Earnings</p>
													<h5 class="mb-0">11,235 esp</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			<!-- end row -->

<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Acount balance</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="h3 text-center" id="bal-text">
                                <span class="loader"></span>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>

            
<div class="modal fade bs-example-modal-center2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                              
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger" >
                                 <p class="h3"> Warning</p>
                                 <p> Please note that this operation will clear out all the user previous transaction. So you are adviced to get the user verbal consent before carrying out this operation</p>
                                    <button onclick="$('.bs-example-modal-center2').modal('hide')" class="btn bg-info col text-white mx-auto mb-1" type="button" id="balchk" >
                                    Continue
                                 </button> 
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
    
{% endblock content %}