{% load static %}
{% block content %}
					<div class="row">
						<div class="col-xl-8">
							
								<div class=" ">
							     <div class="card">
								  <div class="card-body">
									
									<h4 class="card-title mb-4">User Profile</h4>
									<div class="text-center">
										<div class="row">
											<div class="col-md-6">
												<div class="user-thumb text-center mb-5">
                                                        <img src="/static/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail avatar-md" alt="thumbnail">
                                                        <h5 class="font-size-15 mt-3">Samuel Abezei</h5>
                                                    </div>
											</div>
											<div class="col-md-6">
												<div class="mt-5 mt-sm-0">
													
													<p class="text-muted text-truncate mb-2">Username : @abezes</p>
                                                    <p class="text-muted text-truncate mb-2">gender : Male</p>
                                                     <p class="text-muted text-truncate mb-2">Account balance </p>
													<h5 class="mb-0">500 Espees</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
							<!-- end row -->
                             <div class="card d-block d-md-none">
                            <div class="card-body">
                            <div class="row">
                            <button onclick="tabs('#u_p')" class="btn bg-primary col-5 text-white mx-2 mb-1" type="button" >
                            Check Transactions
                        </button> 
                            <button class="btn bg-info col-5 text-white  mx-1 mb-1" type="button"   >
                            Credit account
                        </button> 
                            
                            <button onclick="tabs('#c_p')" class="btn bg-success mx-2 col-5 text-white mb-1" type="button" >
                            Change Account Pin
                        </button> 
                            <button class="btn bg-secondary col-5 text-white mx-1 mb-1" type="button"  >
                            Change card pin
                        </button> 
                        <button class="btn bg-primary col text-white mx-1 mb-1" type="button"  >
                            Check payment
                        </button> 
           
                      </div>
						</div>
					</div>
                             <div class="tabs" id="u_p">
							      <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                            </div>
                                        </div>
    
                                        <h4 class="card-title mb-4">Latest Transactions</h4>
    
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="5" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck">
                                                                <label class="form-check-label mb-0" for="ordercheck">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Order ID</th>
                                                        <th>Date</th>
                                                        <th>Billing Name</th>
                                                        <th>Total</th>
                                                        <th>Payment Status</th>
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck1">
                                                                <label class="form-check-label mb-0" for="ordercheck1">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1572</a> </td>
                                                        <td>
                                                            04 Apr, 2020
                                                        </td>
                                                        <td>Kobis Food</td>
                                                        
                                                        <td>
                                                            172eps
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">success</div>
                                                        </td>
                                                        <td id="tooltip-container1">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck2">
                                                                <label class="form-check-label mb-0" for="ordercheck2">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1571</a> </td>
                                                        <td>
                                                            03 Apr, 2020
                                                        </td>
                                                        <td>Jimmy Barker</td>
                                                        
                                                        <td>
                                                            165 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">waiting</div>
                                                        </td>
                                                        <td id="tooltip-container2">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
    
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck3">
                                                                <label class="form-check-label mb-0" for="ordercheck3">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1570</a> </td>
                                                        <td>
                                                            03 Apr, 2020
                                                        </td>
                                                        <td>Donald Bailey</td>
                                                        
                                                        <td>
                                                            146 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">success</div>
                                                        </td>
                                                        <td id="tooltip-container3">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container3" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container3" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck4">
                                                                <label class="form-check-label mb-0" for="ordercheck4">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1569</a> </td>
                                                        <td>
                                                            02 Apr, 2020
                                                        </td>
                                                        <td>Paul Jones</td>
                                                        
                                                        <td>
                                                            183 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-danger font-size-12">failed</div>
                                                        </td>
                                                        <td id="tooltip-container41">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container41" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container41" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck5">
                                                                <label class="form-check-label mb-0" for="ordercheck5">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1568</a> </td>
                                                        <td>
                                                            01 Apr, 2020
                                                        </td>
                                                        <td>Jefferson Allen</td>
                                                        
                                                        <td>
                                                            160 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">waiting</div>
                                                        </td>
                                                        <td id="tooltip-container4">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container4" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container4" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck6">
                                                                <label class="form-check-label mb-0" for="ordercheck6">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1567</a> </td>
                                                        <td>
                                                            31 Mar, 2020
                                                        </td>
                                                        <td>Jeffrey Waltz</td>
                                                        
                                                        <td>
                                                            105 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">waiting</div>
                                                        </td>
                                                        <td id="tooltip-container5">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container5" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container5" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck7">
                                                                <label class="form-check-label mb-0" for="ordercheck7">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1566</a> </td>
                                                        <td>
                                                            30 Mar, 2020
                                                        </td>
                                                        <td>Jewel Buckley</td>
                                                        
                                                        <td>
                                                            112 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">success</div>
                                                        </td>
                                                        <td id="tooltip-container6">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container6" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container6" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck8">
                                                                <label class="form-check-label mb-0" for="ordercheck8">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1565</a> </td>
                                                        <td>
                                                            29 Mar, 2020
                                                        </td>
                                                        <td>Jamison Clark</td>
                                                        
                                                        <td>
                                                            123 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">success</div>
                                                        </td>
                                                        <td id="tooltip-container7">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container7" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container7" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck9">
                                                                <label class="form-check-label mb-0" for="ordercheck9">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1564</a> </td>
                                                        <td>
                                                            28 Mar, 2020
                                                        </td>
                                                        <td>Eddy Torres</td>
                                                        
                                                        <td>
                                                            141 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">success</div>
                                                        </td>
                                                        <td id="tooltip-container8">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container8" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container8" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck10">
                                                                <label class="form-check-label mb-0" for="ordercheck10">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">#NZ1563</a> </td>
                                                        <td>
                                                            28 Mar, 2020
                                                        </td>
                                                        <td>Frank Dean</td>
                                                        
                                                        <td>
                                                            164 esp
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">failed</div>
                                                        </td>
                                                        <td id="tooltip-container9">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container9" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container9" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
             
                            </div>
                           <div class="card tabs" id="c_p">
                            <div class="card-body "  >
                                               <!-- ==================== change password======================= -->
                                    <div >
                                    <form method="POST" class="form changepassform col-8 mx-auto">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Enter username" name="username" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Enter New Pin" name="newpin" class="form-control " >
                                    <br/>
                                    <input type="text" placeholder="Repeat Pin" name="oldpin" class="form-control " >
                                    <br/>
                                    <button type="submit" class="btn btn-primary w-100"> Send</button>
                                    </form>
                                    </div>
                            </div>
                           </div>
						</div>
						<div class="col-xl-4">
							<div class="card">
                            <div class="card-body">
                            <div class="row">
                            <button onclick="tabs('#u_p')" class="btn bg-primary col-5 text-white mx-2 mb-1" type="button" >
                            Check Transactions
                        </button> 
                            <button class="btn bg-info col-5 text-white  mx-1 mb-1" type="button"   >
                            Credit account
                        </button> 
                            
                            <button onclick="tabs('#c_p')" class="btn bg-success mx-2 col-5 text-white mb-1" type="button" >
                            Change Account Pin
                        </button> 
                            <button class="btn bg-secondary col-5 text-white mx-1 mb-1" type="button"  >
                            Change card pin
                        </button> 
                        <button class="btn bg-primary col text-white mx-1 mb-1" type="button"  >
                            Check payment
                        </button> 
           
                      </div>
						</div>
					</div>
							<div class="card">
								<div class="card-body">
									<div class="dropdown float-end">
										<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"> <i class="mdi mdi-dots-vertical"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-end">
											<!-- item--> <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
											<!-- item--> <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
											<!-- item--> <a href="javascript:void(0);" class="dropdown-item">Profit</a>
											<!-- item--> <a href="javascript:void(0);" class="dropdown-item">Action</a>
										</div>
									</div>
									<h4 class="card-title mb-4">Earning Reports</h4>
									<div class="text-center">
										<div class="row">
											<div class="col-sm-6">
												<div>
													<div class="mb-3">
														<div id="radialchart-1" class="apex-charts"></div>
													</div>
													<p class="text-muted text-truncate mb-2">Weekly Earnings</p>
													<h5 class="mb-0">2,523 esp</h5>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mt-5 mt-sm-0">
													<div class="mb-3">
														<div id="radialchart-2" class="apex-charts"></div>
													</div>
													<p class="text-muted text-truncate mb-2">Monthly Earnings</p>
													<h5 class="mb-0">11,235 esp</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end row -->

			
    
{% endblock content %}