{% extends 'partials/base2.html' %}
{% load static %}
{% load i18n %}
{% block title %}Dashboard{% endblock title %}
{% block extra_css %}
	<!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Dropzone css ------- -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <style>
        .dropzone .dz-preview .dz-error-message {
        margin-top: 20px;
        }
        .form-check-input{
            display: none;
            margin: 4px;
            width: 3px;
        }
    </style>
  <style>
    #drop{
      border:2px dashed #bbb;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      padding:25px;
      text-align:center;
      font:20pt bold,"Vollkorn";color:#bbb
    }
    #b64data{
      width:100%;
    }
    a { text-decoration: none }
    </style>
    <!-- x-spreadsheet stylesheet -->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
    {% block page_title %}
        {% include 'partials/page-title.html' with pageview="Espees" title="Supevisory Dashboard" %}
    {% endblock page_title %}
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dropzone</h4>
                    <p class="card-title-desc">Drag an drop files here or click the button to upload files
                    </p>
                    <div id="drop" style="cursor: pointer;"> Drop a spreadsheet file here or click to select a file  to see sheet data</div>
                    <form id = "uploadForm" ><input type="file" name="xlfile" id="xlf" style="position:relative;left:-600px ;z-index: -10;" /> </form>
                    <div class="all-files row">
                    <div class="row mb-3"><h3 class="col"> Recent files</h3><span class="btn-primary col-auto pt-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i>
                        <span id="upload-delete-btn"> Delete </span></span></div>
                        <div class="row body"></div>
                    </div>
                    
                    <!-- end row -->
                                        <!-- <div>
                                            <form action="/transfer-upload" class="dropzone" id="my-dropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple="multiple">
                                                </div>
                                                <div class="dz-message needsclick">
                                                    <div class="mb-3">
                                                        <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                                    </div>
                                                    
                                                    <h4>Drop files here or click to upload.</h4>
                                                </div>
                                            </form>
                                        </div> -->
        
                                        <!-- <div class="text-center mt-4">
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Upload Files</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- <input type="submit" class="btn btn-small btn-primary " value="Export to XLSX!" id="xport" onclick="export_xlsx();">
                        <div  style="width: 100%;overflow: scroll;height: 4px;background-color: aliceblue;">  
                            <div id="table-scroll" style="background-color: #bbb;" > </div>
                         </div>   -->
                        <!-- <div id="htmlout" style="position: relative;">
                          <div id="htmloutLoader" style="position: absolute; width:100%;height: 100%;padding-top: 40%;padding-left:40%;">
                            <div>Loading please wait .....</div>
                          </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total Transfer Amounts</p>
                                                <h4 class="mb-0" id="total_transfer_amount"></h4>
                                            </div>
                                            <div class="text-primary ms-auto"> <i class=" ri-money-euro-circle-line font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-top py-3">
                                        <div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ms-2">Based on the current data</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total Transaction Fee </p>
                                                <h4 class="mb-0" id="total_transaction_fee"></h4>
                                            </div>
                                            <div class="text-primary ms-auto"> <i class=" ri-numbers-line  font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-top py-3">
                                        <div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ms-2">Based on the current data</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-1 overflow-hidden">
                                                <p class="text-truncate font-size-14 mb-2">Total Agent</p>
                                                <h4 class="mb-0">total</h4>
                                            </div>
                                            <div class="text-primary ms-auto"> <i class="ri-briefcase-2-fill  font-size-24"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-top py-3">
                                        <div class="text-truncate"> <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                                            <span class="text-muted ms-2">Based on the current data</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                             <div style=" position: sticky; width: 200px; height: 100px;background-color: aqua;">
                             </div>
                           <div class="card dataTableCard">
                                    <div class="card-body">
                                                
                                        <h4 class="card-title mb-4">All Records </h4>
                                   
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable"  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                     
                                                <tbody>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

{% endblock content %}
{% block extra_javascript %}

        <!-- Required datatable js -->
        <script src="https://unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>
        <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/shim.min.js"></script>
        <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
         <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
            <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
            <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
         <!-- Sweet Alerts js -->
         <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

        <script>
      
        
     //  document.getElementById('htmloutLoader').style.display = 'none' 
           

         $(document).ready(function(){
            var fileArr = []
            var length_of_data_shown = 0
            csvSrc= "static/images/csv-icon.png"
            xlsSrc="static/images/xls_icon.png"
            xlsxSrc="static/images/xlsx_icon.png"

            window.onscroll = function(e){
              console.log(e)
            }
            $("#drop").click(function(e){
            e.preventDefault()
            $("input[name='xlfile']").trigger('click')
            })
         
            uploadFiles()
            getDataTotals() 
            function getDataTotals(){
                $("#total_transfer_amount,#total_transaction_fee").html("<div class='alert text-center'> <span> Loading ..... </span></div>")
                $.ajax({ url:'/get_data_totals',method:'POST',data:{},contentType:false,
                success:function(data){
                    console.log(data)
                    $("#total_transfer_amount").html(data["total-amount"])
                    $("#total_transaction_fee").html(data["total-transaction-fee"])
                }
               })
            }
            function loadmore(more){
                length_of_data_shown =length_of_data_shown + more
                var dataToSend
                if(more != 'undefined' ){
                dataToSend =new FormData()
                var tableLength = more + length_of_data_shown
                dataToSend.append("more_value", length_of_data_shown)
                
                $.ajax({ url:'/transfer-upload',method:'POST',data:dataToSend,contentType:false,
                processData:false,
                success : function(data){
                try{
                data = JSON.parse(data)
                }catch(e){
                console.log(e)
                }
                console.log(data) 
                $(".datatable").DataTable().destroy();
        
                data.forEach(function(d){
                $(".datatable tbody")
                .append(
                "<tr>"
                +"<td>"+ tableLength++ +"</td>"        
                +"<td>"+d[ "transaction_time"] +"</td>"
                +"<td>"+d["transaction_reference"] +"</td>"
                +"<td>"+d["transaction_description"] +"</td>"
                +"<td>"+d["linking_reference"] +"</td>"
                +"<td>"+d["amount"] +"</td>"
                +"<td>"+d["currency"] +"</td>"
                +"<td>"+d["country"] +"</td>"
                +"<td>"+d["card_country"] +"</td>"
                +"<td>"+d["is_Nigerian_Card"] +"</td>"
                +"<td>"+d["prev_Linking_Reference"] +"</td>"
                +"<td>"+d["transfer_amount"] +"</td>"
                +"<td>"+d["transaction_Fee"] +"</td>"
                +"<td>"+d["fee"] +"</td>"
                +"<td>"+d["status"] +"</td>"
                +"<td>"+d["reason"] +"</td>"
                +"<td>"+d["account_No"] +"</td>"
                +"<td>"+d["channel"] +"</td>"
                +"<td>"+d["channel_Type"] +"</td>"
                +"<td>"+d["is_International"] +"</td>"
                +"<td>"+d["mode"] +"</td>"
                +"<td>"+d["transType"] +"</td>"
                +"<td>"+d["settlement_Amount"] +"</td>"
                +"<td>"+d["refund_Amount"] +"</td>"
                +"<td>"+d["gateway_Response_Code"] +"</td>"
                +"<td>"+d["gateway_Response_Code"] +"</td>"
                +"<td>"+d["has_dispute"] +"</td>"
                +"<td>"+d["event"] +"</td>"
                +"</tr>"
                        )
                })
                setTimeout(function(){
               $(".datatable").
               DataTable({
               lengthMenu:[5,10,25,50],pageLength: 50,
               language:{paginate:{previous:"<i class='mdi mdi-chevron-left'>",
               next:"<i class='mdi mdi-chevron-right'>"},
               },
               dom: 'Bfrtip',
               buttons: [
               'copy', 'excel', 'pdf'
               ],
               drawCallback:function(){
               
               $(".dataTables_paginate > .pagination").addClass("pagination-rounded")}}),
               $(".dataTables_length select").addClass("form-select form-select-sm")
               $(".datatable").parent().append("<button class='btn text-primary load_more_btn'> <em> Load More ....</em></button>")

               $(".load_more_btn").click(function(){
               loadmore(2000)
              })
               },500)
                }
             })
            }
         }
            
            async function uploadFiles(file,moreValue) {
            console.log(typeof file)
            var dataToSend
          
            if(typeof file != 'undefined'){
                Swal.fire({title:"Data Processing",
                text:"File uploaded is too large processing will take a long time if you can't wait cancel this operation and, break file to bits of 1000 and try again.",
                icon:"info",showCancelButton: true,}).then(function(result){
                    console.log(result)
                if (result.isDismissed) {
                    Swal.fire("Cancelling Operation and refreashing the window", "", "info");
                    window.location.reload()
                }else{
                    Swal.fire("Processing data please wait .....", "", "info");
                }
            })
            dataToSend = file
            }
            
            $(".datatable tbody").empty().append("<div class='alert text-center'> <span> Loading ..... </span></div>")
            $.ajax({ url:'/transfer-upload',method:'POST',data:dataToSend,contentType:false,
            processData:false,
            beforeSend: function(){
           
            },
            success:function(data){
            try{
            data = JSON.parse(data)
            }catch(e){
            console.log(e)
            }
            console.log(data)    
            if(typeof data != 'string' && data.length>0) {
            $(".datatable tbody").empty()
            var column = Object.keys(data[0]).map(function(e){
                return {"title": e.toLocaleUpperCase().replace("_"," ")}
            })
            console.log(column)
            var nm = 1
           // $(".datatable").DataTable().clear().destroy();
            $(".datatable").prepend("<thead class=' table-light'><tr></tr></thead>")
                column.forEach(function(e){
                    $(".datatable thead tr") .append("<th>"+e["title"] +"</th>")
                })
                var total_transfer_amount = 0
                data.forEach(function(d){
                $(".datatable tbody")
                .append(
                "<tr>"
                +"<td>"+ nm++ +"</td>"        
                +"<td>"+d[ "transaction_time"] +"</td>"
                +"<td>"+d["transaction_reference"] +"</td>"
                +"<td>"+d["transaction_description"] +"</td>"
                +"<td>"+d["linking_reference"] +"</td>"
                +"<td>"+d["amount"] +"</td>"
                +"<td>"+d["currency"] +"</td>"
                +"<td>"+d["country"] +"</td>"
                +"<td>"+d["card_country"] +"</td>"
                +"<td>"+d["is_Nigerian_Card"] +"</td>"
                +"<td>"+d["prev_Linking_Reference"] +"</td>"
                +"<td>"+d["transfer_amount"] +"</td>"
                +"<td>"+d["transaction_Fee"] +"</td>"
                +"<td>"+d["fee"] +"</td>"
                +"<td>"+d["status"] +"</td>"
                +"<td>"+d["reason"] +"</td>"
                +"<td>"+d["account_No"] +"</td>"
                +"<td>"+d["channel"] +"</td>"
                +"<td>"+d["channel_Type"] +"</td>"
                +"<td>"+d["is_International"] +"</td>"
                +"<td>"+d["mode"] +"</td>"
                +"<td>"+d["transType"] +"</td>"
                +"<td>"+d["settlement_Amount"] +"</td>"
                +"<td>"+d["refund_Amount"] +"</td>"
                +"<td>"+d["gateway_Response_Code"] +"</td>"
                +"<td>"+d["gateway_Response_Code"] +"</td>"
                +"<td>"+d["has_dispute"] +"</td>"
                +"<td>"+d["event"] +"</td>"
                +"</tr>"
                        )
                })
               setTimeout(function(){
                $(".datatable").
                DataTable({
                lengthMenu:[5,10,25,50],pageLength: 50,
                language:{paginate:{previous:"<i class='mdi mdi-chevron-left'>",
                next:"<i class='mdi mdi-chevron-right'>"},
                },
                dom: 'Bfrtip',
                buttons: [
                'copy', 'excel', 'pdf'
                ],
                drawCallback:function(){
                
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")}}),
                $(".dataTables_length select").addClass("form-select form-select-sm")
                $(".datatable").parent().append("<button class='btn text-primary load_more_btn'> <em> Load More ....</em></button>")

                $(".load_more_btn").click(function(){
                loadmore(2000)
               })
                },500)
           
         }else
            console.log("error happened")
            $(".datatable tbody").append("<div class='alert text-center'> <span> No Data To Display</span></div>")
            if(data.indexOf('large')!=-1)
              Swal.fire({title:"Deleted!",text:"File uploaded is too large; break file to bits of 1000 and try again.",icon:"error"})
         }})
        

        }
        
        (function() {
        var xlf = document.getElementById('xlf');
        if(!xlf.addEventListener) return;
        function handleFile(e) { 
            formData= new FormData(document.getElementById('uploadForm'))
            uploadFiles(formData) 
        }
        xlf.addEventListener('change', handleFile, false);
        })();


   

        (function() {
        var drop = document.getElementById('drop');
        if(!drop.addEventListener) return;

        function handleDrop(e) {
        e.stopPropagation();
        e.preventDefault();
        formData= new FormData(document.getElementById('uploadForm'))
        console.log("file dropped")
        uploadFiles(formData)
        }

        function handleDragover(e) {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
        }

        drop.addEventListener('dragenter', handleDragover, false);
        drop.addEventListener('dragover', handleDragover, false);
        drop.addEventListener('drop', handleDrop, false);
        })();

        
        export_xlsx = (function() {
        function prep(arr) {
        var out = [];
        for(var i = 0; i < arr.length; ++i) {
        if(!arr[i]) continue;
        if(Array.isArray(arr[i])) { out[i] = arr[i]; continue };
        var o = new Array();
        Object.keys(arr[i]).forEach(function(k) { o[+k] = arr[i][k] });
        out[i] = o;
        }
        return out;
        }

        return function export_xlsx() {
        if(!cDg) return;
        /* convert canvas-datagrid data to worksheet */
        var new_ws = XLSX.utils.aoa_to_sheet(prep(cDg.data));

        /* build workbook */
        var new_wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(new_wb, new_ws, 'SheetJS');

        /* write file and trigger a download */
        XLSX.writeFile(new_wb, 'SheetJSCanvasDataGridExport.xlsx', {bookSST:true});
        };
        })();

   

        })
       
        </script>

        <script>

        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
        }
        }
        }
        return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        function del(str){
        Swal.fire({title:"Are you sure?",text:"You won't be able to revert this!",icon:"warning",
        showCancelButton:!0,confirmButtonText:"Yes, delete it!",
        cancelButtonText:"No, cancel!",confirmButtonClass:"btn btn-success mt-2",
        cancelButtonClass:"btn btn-danger ms-2 mt-2",buttonsStyling:!1}).then(function(t){
        if(t.value){
        $.ajax({
        url:'delete/',
        type:'POST',
        headers: {'X-CSRFToken':csrftoken},
        data :{email:str},
        success:function(data){
        console.log(data)
        },
        complete:async function() {
        await Swal.fire({title:"Deleted!",text:"Your file has been deleted.",icon:"success"})
        window.location.reload()
        }
        })
        }else if(t.dismiss===Swal.DismissReason.cancel){
        Swal.fire({title:"Operation Cancelled",text:"",icon:"error"})
        }
        })
 
}
 // { title : "S/N"} ,   
                // {title:"Transaction Time"},
                // {title :"Transaction Reference"},
                // {title : "Transaction Description"},
                // { title :"Linking Reference"},
                // {title:"Amount"},
                // {title : "Currency"},
                // {title :"Country"},
                // {title : "Card Country"},
                // {title : "is Nigerian Card"},
                // {title:"Prev Linking Reference"},
                // {title : "Transfer Amount"},
                // {title : "Transaction Fee"},
                // {title : "Fee"},
                // {title : "Status"},
                // {title : "Reason"},
                // {title :"Account No"},
                // {title :"Channel"},
                // {title :"Channel Type"},
                // {title :"Is International"},
                // {title :"Mode"},
                // {title :"TransType"},
                // {title :"Settlement Amount"},
                // {title :"Refund Amount"},
                // {title :"Gateway Response Code"},
                // {title :"Gateway Response Message"},
                // { title :"Has Dispute"},
                // {title :"Event"}
</script>

{% endblock extra_javascript %}